/* Minimal global styles. Other styling done by styled-component */
body {
  font: 18px Arial;
  margin: 20px;
  --primary-color: #2C9CDB;
  --light-grey: #F2F2F2;
  --dark-grey: #E0E0E0;
}

ul {
  list-style: none;
  padding: 0;
}
